Repository Deltakit/deltakit, pull requests merged in 2025-09, with the labels that each got.

#6 chore: Renaming repo location and fixing typos
  .github/ISSUE_TEMPLATE/bug.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  deltakit-circuit/README.md
  deltakit-circuit/pyproject.toml
  deltakit-circuit/src/deltakit_circuit/_circuit.py
  deltakit-circuit/src/deltakit_circuit/_noise_layer.py
  deltakit-core/README.md
  deltakit-core/pyproject.toml
  deltakit-decode/README.md
  deltakit-decode/pyproject.toml
  deltakit-decode/src/deltakit_decode/noise_sources/_matching_noise_sources.py
  deltakit-explorer/README.md
  deltakit-explorer/pyproject.toml
  docs/examples/notebooks/demo/1. setup.ipynb
  docs/release.md
  docs/setup.md
  pyproject.toml
Labels: documentation, deltakit-explorer, deltakit-circuit, deltakit-core, deltakit-decode

#8 docs: Add Deltakit component images to README
  README.md
  docs/_static/images/codes.png
  docs/_static/images/decoders.png
  docs/_static/images/experiments.png
  docs/_static/images/qpu_noise.png
  docs/index.rst
Labels: documentation

#16 chore: improve ruff check rules on deltakit_circuit
  deltakit-circuit/ruff.toml
  deltakit-circuit/tests/test_noise_channels/test_pauli_noise.py
  deltakit-circuit/tests/test_qubit_identifiers.py
Labels: deltakit-circuit

#47 feat(cancel): cancelling the job with Ctrl+C in APIv2
  deltakit-explorer/src/deltakit_explorer/_api/_api_v2_client.py
Labels: deltakit-explorer

#64 chore: make bandit respect `pyproject.toml` configuration
  .pre-commit-config.yaml
  deltakit-explorer/tests/server/test_gql_client.py
  deltakit-explorer/tests/server/test_token.py
  deltakit-explorer/tests/utils/test_auth.py
  pyproject.toml
Labels: deltakit-explorer

#75 ci: fix labeled tests workflow
  .github/workflows/labeled_tests.yml
  tools/transform_labels.py
Labels: dev
