Repository Deltakit/deltakit, pull requests merged in 2025-10, with the labels that each got.

#60 ci: Add explicit permissions to workflows
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/static_code_analysis.yml
  .github/workflows/tests.yml
Labels: dev

#79 chore: enable `warn_unused_ignores` and address associated errors
  deltakit-circuit/src/deltakit_circuit/_circuit.py
  deltakit-circuit/src/deltakit_circuit/_gate_layer.py
  deltakit-circuit/src/deltakit_circuit/_qubit_identifiers.py
  deltakit-circuit/src/deltakit_circuit/gates/_abstract_gates.py
  deltakit-circuit/src/deltakit_circuit/gates/_two_qubit_gates.py
  deltakit-core/src/deltakit_core/decoding_graphs/_decoding_graph_tools.py
  deltakit-core/src/deltakit_core/decoding_graphs/_dem_parsing.py
  deltakit-core/src/deltakit_core/decoding_graphs/_syndromes.py
  deltakit-decode/src/deltakit_decode/noise_sources/_generic_noise_sources.py
  deltakit-decode/src/deltakit_decode/noise_sources/_matching_noise_sources.py
  deltakit-decode/tests/analysis/test_empirical_decoding_error_distribution.py
  deltakit-explorer/src/deltakit_explorer/_api/_gql_client.py
  mypy.ini
Labels: deltakit-explorer, deltakit-circuit, deltakit-core, deltakit-decode

#80 chore: fixing errors from enforcing `warn_return_any`
  deltakit-circuit/src/deltakit_circuit/_qubit_identifiers.py
  deltakit-core/src/deltakit_core/decoding_graphs/_explained_dem_parsing.py
  deltakit-explorer/src/deltakit_explorer/codes/_css/_css_code.py
  deltakit-explorer/src/deltakit_explorer/types/_data_string.py
  mypy.ini
Labels: deltakit-explorer, deltakit-circuit, deltakit-core

#84 chore: ignore `pip` vulnerability reported by `pip-audit`
  .github/workflows/static_code_analysis.yml
  pyproject.toml
Labels: dev

#69 chore: run `ruff format` with pre-commit
  .github/workflows/static_code_analysis.yml
  .pre-commit-config.yaml
  deltakit-circuit/src/deltakit_circuit/_circuit.py
  deltakit-circuit/src/deltakit_circuit/gates/_two_qubit_gates.py
  docs/conf.py
  docs/guide/decoding.md
  docs/guide/simulation.md
  ruff.toml
  tests/qmem/test_qmem.py
  tests/unit/test_decoding_graph_tools_with_stim.py
  tools/extract_version_notes.py
  tools/propagate_version.py
  tools/set_pre_version.py
  tools/transform_labels.py
Labels: documentation, deltakit-explorer, deltakit-circuit, deltakit-core, deltakit-decode, dev

#74 docs: links should point to `docs` (built from `docs-live` branch)
  README.md
  deltakit-circuit/README.md
  deltakit-core/README.md
  deltakit-decode/README.md
  deltakit-explorer/README.md
  docs/index.rst
Labels: documentation, deltakit-explorer, deltakit-circuit, deltakit-core, deltakit-decode

#67 feat: better logical error probability per round
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
  deltakit-explorer/tests/analysis/test_analysis.py
  mypy.ini
Labels: deltakit-explorer, feature

#94 tests: allow `pytest` to run from top level
  deltakit-decode/tests/__init__.py
  deltakit-explorer/tests/__init__.py
  deltakit-explorer/tests/helpers/__init__.py
Labels: deltakit-explorer, deltakit-decode

#97 Add mypy_path to fix pre-commit
  mypy.ini
Labels: fix, dev

#105 DEV: add upper bound on supported Python
  .github/workflows/docs.yml
  .github/workflows/labeled_tests.yml
  .github/workflows/static_code_analysis.yml
  .readthedocs.yaml
  pixi.toml
Labels: dev

#104 Fixed token setting tests by changing 403 to 401
  deltakit-explorer/tests/server/test_api_v2_client.py
  deltakit-explorer/tests/server/test_token.py
Labels: documentation, deltakit-explorer
